<header class="col-md-12 top">
  <div class="alert alert-primary container" role="alert">
    <div class="btn-group btn-group-toggle">
    	Header
<!--       <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="nav.left"> Left 
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="nav.middle"> Middle
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="nav.right"> Right
      </label> -->
    </div>
  </div>
</header>
